@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

@keyframes gradient-pan {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-gradient {
  background: linear-gradient(135deg, #364153, #364153, #1e2939); 
  background-size: 600% 600%;
  animation: gradient-pan 15s ease infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: max-content;
}


